@model Streaminds.Web.Models.Dto.ClienteDto
@{
 ViewData["Title"] = "Crear Cliente";
}
<div class="container mt-4">
 <h1>Crear Cliente</h1>
 <form asp-action="Create" method="post">
 @await Html.PartialAsync("CreateEditPartial", Model)
 <button class="btn btn-primary">Crear</button>
 <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
 </form>
</div>
@section Scripts{<partial name="_ValidationScriptsPartial" /> }