@model Streaminds.Web.Models.Dto.ClienteDto
@{
 ViewData["Title"] = "Editar Cliente";
}
<div class="container mt-4">
 <h1>Editar Cliente</h1>
 <form asp-action="Edit" method="post">
 <input type="hidden" asp-for="Id" />
 @await Html.PartialAsync("CreateEditPartial", Model)
 <button class="btn btn-primary">Guardar</button>
 <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
 </form>
</div>
@section Scripts{<partial name="_ValidationScriptsPartial" /> }